#*#
*.tmp
*~
API.md
API_sumo.md
dist/browsers-sumo/libsodium.wasm
dist/browsers-sumo/sodium-asmjs.js
dist/browsers-sumo/sodium-wasm.js
dist/browsers-sumo/sodium.js
dist/browsers/libsodium.wasm
dist/browsers/sodium-asmjs.js
dist/browsers/sodium-wasm.js
dist/browsers/sodium.js
dist/modules-sumo/libsodium-asmjs.js
dist/modules-sumo/libsodium-wasm.js
dist/modules-sumo/libsodium.wasm
dist/modules/libsodium-asmjs.js
dist/modules/libsodium-wasm.js
dist/modules/libsodium.wasm
