#message {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	height: 500px;
	width: 100%;
	margin-top: 16px;
	padding: 4px;
}

#buttons {
	visibility: hidden;
}

button {
	background-color: white;
	border-color: gray;
	border-style: solid;
	border-radius: 4px;
	border-width: 2px;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}
